/* Container for ClientBox */
.client-box {
  position: absolute;
  width: 290.49px;
  height: 239px;
  top: 630px;
  left: 499px;
  padding: 34px 30px 40px 36px;
  gap: 20px;
  border-radius: 28.36px;
  border: 1.18px solid;
  opacity: 1;
  background: #002E18;
  transition: opacity 0.3s ease;
}

.client-box:hover {
  box-shadow: 0px 23.63px 37.81px 0px #1E1E1E17;
}

/* First text styling */
.first-text h1{
  width: 119px;
  height: 76px;
  font-family: Switzer;
  font-size: 63.37px;
  font-weight: 500;
  line-height: 76.05px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #FFFFFF;
}

/* Second text styling */
.first-text span{
  width: 91px;
  height: 32px;
  font-family: Switzer;
  font-size: 22.81px;
  font-weight: 500;
  line-height: 31.94px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #A6A3A0;
}

/* Third text styling */
.third-text {
  width: 224.49px;
  height: 69px;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: 23.4px;
  text-align: left;
  color: #CCCCCC;
}
